fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-core
openai
chromadb
sentence-transformers
transformers
pillow
pymupdf
pdfplumber
pypdf
gdown
python-dotenv
pydantic
